<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DEMO - Timesheet</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr@4.5.7/dist/flatpickr.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    
</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col">
                <!-- <label class="form-control mt-3 mb-5 text-center"> Dynamic Employee Timesheet Schedule - DEMO </label> -->
                <p class="text-lg-center h1 mt-3 mb-5">Dynamic Employee Timesheet Schedule - DEMO</p>
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <div class=" row col-sm-4">
                <label class="col-sm-4 form-control-label">Date Begin<span class="text-danger">*</span></label>
                <div class="col-sm-8">
                    <input type="text" required parsley-type="text" class="form-control" id="datebegin" v-model="datefrom" placeholder="" disabled>
                </div>
            </div>
            <div class=" row col-sm-4">
                <label class="col-sm-4 form-control-label">Date End<span class="text-danger">*</span></label>
                <div class="col-sm-8">
                    <input type="text" required parsley-type="text" class="form-control" id="dateend" v-model="dateto" placeholder="" disabled>
                </div>
            </div>
            <div class="btn-group btn-group-sm" role="group">
            <button type="button" id="btnlistaservicios" class="btn btn-outline-secondary btn-sm" disabled> New Schedule</button>
            <button type="button" id="btnlistaservicios" class="btn btn-outline-secondary btn-sm" disabled>Import JSON</button>
            <button type="button" id="btnlistaservicios" class="btn btn-outline-secondary btn-sm" disabled>Export JSON</button>
            <button type="button" id="btnlistaservicios" @click="generateSchedule(rows, datefrom, dateto);" class="btn btn-outline-secondary btn-sm">Refresh</button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12" >
                <br>
                <div class=" wrapper">
                <table class="table table-sm table-bordered table-hover" id="myTable">
                    <thead id="thead" class="thead-light"></thead>
                    <tbody id="tbody"></tbody>
                    <tfoot id="tfoot"></tfoot>
                </table>
                </div>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col">
                <label class="form-control mb-2 text-center" style="background-color: white;"> AVAILABLE </label>
            </div>
            <div class="col">
                <label class="form-control mb-2 text-center text-white" style="background-color: red;"> FULL DAY </label>
            </div>
            <div class="col">
                <label class="form-control mb-2 text-center text-white" style="background-color: purple;"> HALF DAY </label>
            </div>
            <div class="col">
                <label class="form-control mb-2 text-center text-white" style="background-color: green;"> DAY OFF </label>
            </div>
            <div class="col">
                <label class="form-control mb-2 text-center text-white" style="background-color: orange;"> VACATION </label>
            </div>
            <div class="col">
                <label class="form-control mb-2 text-center text-white" style="background-color: blue;"> HOLIDAY </label>
            </div>
        </div>
        <hr>
    <!-- </div>

    <div class="container" > -->
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th style="width: 20px;">No.</th>
                    <th>Employee Name</th>
                    <th style="width: 130px;">From date</th>
                    <th style="width: 130px;">To date</th>
                    <th style="width: 150px;">Type</th>
                    <th style="width: 180px;"></th>
                </tr>
                </thead>
                
                <tbody>
                <tr v-for="(row, index) in rows" v-bind:key="row.index">
                    <td>
                        {{ index +1 }}
                    </td>
                    <td>
                        <input class="form-control" v-model="row.employee"/>
                    </td>
                    <td>
                        <input class="form-control text-center" id="datebegint" v-model="row.datebegin"/>
                    </td>
                    <td>
                        <input class="form-control text-center" id="dateendt" v-model="row.dateend"/>
                    </td>
                    <td>
                        <select class="form-control" v-model="row.type">
                            <option value="FULL DAY">FULL DAY</option>
                            <option value="HALF DAY">HALF DAY</option>
                            <option value="DAY OFF">DAY OFF</option>
                            <option value="VACATION">VACATION</option>
                            <option value="HOLIDAY">HOLIDAY</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" @click="addRow(index)" disabled>Add</button>
                        <button class="btn btn-danger btn-xs" @click="removeRow(index)" disabled>Delete</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
               
                </tfoot>
            </table>
            <!-- <pre>{{ $data }}</pre> -->
        </div>

<!-- <script src="dayjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.8.14/dayjs.min.js"></script>
<!-- <script src="plugin/isBetween.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.8.14/plugin/isBetween.js"></script>
<!-- <script src="moment.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.5.7/dist/flatpickr.min.js"></script>
<!-- <script src="vue.js"></script> -->
<script src="app.js"></script>

</body>
</html>